/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #444444;
    background-alt: #2e2e2e;
    foreground:     #ffffff;
    selected:       #06a284FF;
    active:         #06a284FF;
    urgent:         #FA7301;
}
